.section-about {
  background-color: $color-grey-light-1;
  color: $color-grey-dark;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -20vh;
  z-index: 10;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  clip-path: polygon(0 20vh, 100% 0%, 100% 75vh, 0 100%);
}
