/* universal selector 

* {}  

*/

body {
  font-family: "Grape Nuts", cursive;
  background-color: #131924;
}

button {
  font-family: "Grape Nuts", cursive;
  width: 6em;
  font-size: 1em;
  background: none;
  border: #f77f00 solid 2px;
  color: #edf2f4;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.08em;
  padding-left: 0.08em;
  transition: color 1s, border-color 1s, box-shadow 1s, transform 0.25s;
}

button:hover {
  border: #ffc300 solid 2px;
  transform: translateY(-0.25em);
  box-shadow: 0px 0.5em 0.5em -0.4em #ffc40054;
  cursor: pointer;
}

h1,
h2 {
  color: #191919;
  /* text-shadow: 5px -5px 0px rgba(0, 0, 0, 0.3); */
  text-align: center;
  /* we can also use 100 200 300 400 is normal 700 is bold usually but it changes depending on the font */
  /* !FONT important */
  font-weight: 400;
  /* underline,line throught, overline we can control a lot and customize it*/
  text-decoration: #e6e8e6 underline wavy;
}

/* two at the same time */
input {
  color: teal;
  background-color: antiquewhite;
}

/* !CHECK MDN for more! */
/* attribute selector
every input with a type="password" attribute
*/
input[type="password"] {
  color: red;
  background-color: antiquewhite;
}

/* any <a> with href that includes google in it */
a[href*="google"] {
  background-color: red;
}

/* any <a> with href attribute that ends with .org */
a[href$=".org"] {
  background-color: orange;
}

p {
  background-color: #e6e8e6;
  color: #191919;
  /* spacing between text */
  line-height: 1.5;
  letter-spacing: 3px;
  /* Relative and absolote units */
  /* !absolute ones = px pixel, */
  font-size: 16px;
  /* font are not easy */
  /* first choise and second choice */
  font-family: sans-serif;
}

a {
  /* super cool thing otherwise it's so ugly */
  text-decoration: none;
}
/* class */
.navClass {
  display: flex;
  justify-content: flex-end;
}
/* id */
#signupbutton {
  background-color: #191919;
  color: #ced0ce;
}

li {
  color: blue;
}

#clear {
  background-color: red;
  color: white;
}

.testFunctions {
  border: 1px solid rgb(255, 255, 255);
}

/* descendent selector */
/* all a tags inside li */
/* it's useful give parent a class and makes it easier */
ul li:hover {
  background-color: #191919;
}

p a {
  color: blue;
}

#dislikes a {
  color: #ff0000;
}
#dislikes a:hover {
  color: #eb0101;
  text-decoration: line-through red;
}

/* direct descendant child not that common */
li > a:hover {
  color: rgb(119, 113, 113);
  text-decoration: underline rgb(114, 107, 107);
}

button:active {
  background-color: rgb(56, 0, 0);
}

/* !TODO CHECK PSEUDO CLASSES */
/* !!!! EVERY OTHER !!!!! */
/* if i want to select overy for design etc this is perfect */
.everyOtherTest li:nth-of-type(2n - 1) {
  background-color: #191919;
  color: #ced0ce;
  color: black;
}
.everyOtherTest li:nth-of-type(2n - 1):hover {
  background-color: #fffafa;
  color: #ced0ce;
}

/* stuff related to nth square*/
.square {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
}

#board {
  display: flex;
  margin: 0 auto;
  width: 500px;
  flex-wrap: wrap;
}

/* !TODO Learn how to change all of the board colors */
#board div.square:nth-of-type(2n-1) {
  background-color: #da3c1e;
}
#board div.square:nth-of-type(2n) {
  background-color: #000000;
}
#board div.square:nth-of-type(2n-1):hover {
  background-color: #000000;
}
#board div.square:nth-of-type(2n):hover {
  background-color: #da3c1e;
}

figure > figcaption {
  text-align: center;
}
/* // */

#MediaQuarries {
  width: 400px;
  color: #ced0ce;
}
/* Pseudo Elements */
h2::first-letter {
  font-size: 70px;
}
/* everything selected in this page is purb yellow lol */
*::selection {
  background-color: purple;
  color: rgb(255, 217, 0);
}

/* doesn't work */
.checkTest:checked:checked {
  box-shadow: 0 0 0 3px hotpink;
}
#huey:checked {
  box-shadow: 0 0 0 3px hotpink;
}

/* Labels for checked inputs */
input:checked + label {
  color: red;
}

/* Specifity calculator https://specificity.keegan.st/ */
/* TODO: if you have any problem with changes don't apply just go inspect YOU CaN EVEN FORCE APPLY HOVER ETC. */
/* !important makes auto win the specifity  */
/* inline also wins auto */

/* Inherit */
form {
  color: red;
}
/* spesificly inherit */
button,
input {
  color: inherit;
}
