.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 3rem;
    position: relative;
    transition: all 0.2s;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-0.3rem);
    // hexedecimal + rgba only possible in sass
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in;
  }

  //    Look kind of ridiculous but good to know
  //     &:active::after {
  //       transform: scale(1);
  //       opacity: 1;
  //     }

  &--animated {
    animation: moveInButton 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;

    transform: translateY(-0.2rem);

    box-shadow: 0rem 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    transform: translateY(0);

    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  }
}
