.card {
  // *FUNCTIONALITY
  // gives a nice rotate effect
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // !! clearfix doesn't work we need to specify the height again
  // @include clearfix();
  height: 50rem;

  &__side {
    font-size: 2rem;
    height: 50rem;
    transition: transform 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // fixes animation bug
    backface-visibility: hidden;
    border-radius: 0.3rem;
    // prevents stuff that ruins border radius
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      z-index: -1;

      &-1 {
        background-image: linear-gradient(
          to bottom right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
    z-index: 1;
  }

  // *FRONT SIDE STYLING
  &__heading {
    // font
    font-size: 2.2rem;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
    text-align: right;

    // positioning
    position: absolute;
    right: 1rem;
    top: 23%;
    z-index: 10;
    width: 55%;

    // &--main {
    //   background-image: linear-gradient(
    //     to right bottom,
    //     rgba($color-secondary-light, 0.7),
    //     rgba($color-secondary-dark, 0.7)
    //   );
    //   display: inline-block;
    //   transform: translateY(1.2rem);
    // }
    // &--sub {
    //   background-image: linear-gradient(
    //     to right bottom,
    //     rgba($color-secondary-light, 0.9),
    //     rgba($color-secondary-dark, 0.9)
    //   );
    //   display: block;
    // }
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }

  &__imagebox {
    // for the compatibility
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 21rem;
    // you can also do it in photoshop but css is powerful
    background-blend-mode: screen;

    // Cards by number
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
  }

  &__features {
    width: 80%;
    list-style: none;
    margin: 0 auto;
    padding: 3rem;

    &--li {
      font-size: 1.5rem;
      text-transform: capitalize;
      text-align: center;
      padding: 1rem 0 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }
}
