@import "./abstracts/variables";
@import "./layouts/grid";

* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // yellow color
$color-secondary: #f08a5d; //orange
$color-tertiary: #b83b5e;
$color-text-dark: #333;
$color-text-light: #eee;

$width-button: 150px;

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// DRY principle don't repeat
@mixin style-link-text($col) {
  text-decoration: none;
  text-transform: uppercase;
  color: $col;
}

// sass funtions
@function divide($a, $b) {
  @return $a/$b;
}

.navbar {
  margin: 30px;
  background-color: $color-primary;

  // clearfix
  @include clearfix();
}

.navigation {
  list-style: none;
  float: left;

  li {
    display: inline-block;
    // common practise in sass to just multiply with px or other units
    margin-left: divide(60, 2) * 1px;

    &:first-child {
      margin: 0;
    }
  }

  a:link,
  a:visited {
    @include style-link-text($color-text-dark);
  }
}

.buttons {
  float: right;
  // float: left;
}

// we use EXTEND to use DRY principles again instead of mixin because in the source code it doesn't repeat this time
%btn-placeholder {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  width: $width-button;
  @include style-link-text($color-text-light);
}

.btn--main {
  &:link,
  &:visited {
    @extend %btn-placeholder;
    background-color: $color-secondary;
  }

  &:hover {
    background-color: darken($color-secondary, 15%);
  }
}

.btn--hot {
  &:link {
    @extend %btn-placeholder;
    background-color: $color-tertiary;
  }
  &:hover {
    background-color: lighten($color-tertiary, 10%);
  }
}
