/* basic universal reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box sizing is not inherited by default! */
  box-sizing: inherit;
}

html {
  // this defines what 1 REM IS
  /* font-size: 62.5%; */
  font-size: 50%;
}

body {
  box-sizing: border-box;
}
