body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* fixes shake in the animation */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    letter-spacing: 3.5rem;
    font-size: 6rem;
    font-weight: 400;

    /* animation: moveInLeft 0.5s; */

    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;

    /* animation-delay: 0.5s; */
    /* animation-iteration-count: infinite; */
    /* animation-iteration-count: 5; */
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 0.5s ease-out 0.25s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  -webkit-background-clip: text;
  color: transparent;

  transition: all 0.2s;

  &:hover {
    // !not box-shadow
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    transform: skewY(-10deg) skewX(5deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
