#header {
  display: none;
}

section.section {
  background-color: #84a98c;
  width: 800px;
  height: 800px;
}
div.div {
  background-color: #2f3e46;
  width: 50%;
  height: 50%;
}

/* EMs could be useful */
/* proportions stays the same */
button.button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
  background-color: #52796f;
  color: #f8edeb;
}

/* ! DOWNSIDE OF EM in nested stuff */
#ul {
  font-size: 1.5em;
}

/* use rems for something? */
/* ROOT element font size */

body {
  background-color: grey;
  margin: 0;
}

div.searchBar {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
}

div {
  width: 200px;
  height: 200px;
}

/* display rune */
h1 {
  background-color: pink;
  width: 150px;
  border: 1px solid black;
  border-radius: 40%;
  text-align: center;
}

/* !doesn't work because of display property*/
h1 span {
  margin-left: 20px;
  margin-top: 40px;
  /* display: block; makes it block no more inline */
}

#one {
  background-color: #f8edeb;
  border: 2px solid black;
  /* exactly 200px border to inside */
  box-sizing: border-box;
  border-radius: 20%;
  margin-left: 50px;
  padding: 20px;
}

#one:hover {
  background-color: #fcd5ce;
  border: 10px inset black;
  border-left: 0px;
  border-right: 0px;
  border-radius: 20%;
}

#two {
  background-color: #fcd5ce;
  border: 2px solid black;
  box-sizing: border-box;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 30%;
  margin-left: 100px;
  padding: 30px;
}

#two:hover {
  background-color: #ffb5a7;
  border: 2px solid black;
  padding: 50px;
}

#three {
  background-color: #ffb5a7;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 20px;
}

#three:hover {
  background-color: #ffa492;
  border: 2px solid black;
}

.card img {
  width: 100px;
  border: 3px solid rgb(201, 174, 174);
  border-radius: 50%;
  box-sizing: border-box;
}

.card {
  width: 102px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 3%;
  box-sizing: border-box;
}
.card p {
  text-align: center;
  font-weight: 700;
  color: #f8edeb;
}

/* *margin is outside padding is inside spacing */
